{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <h3>Create New Category</h3>

        {{ include('category/_form.html.twig') }}

        <a href="{{ path('category_index') }}">Back to categories list</a>
        </div>
    </div>
{% endblock %}
